*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

article{
    margin-bottom: 2em;
    border: 1px solid black;
}

footer{
    background-color: gainsboro;
}